body{
    text-align: center;
    background-color: #333;
    color: white;
}



#result{
    font-size: 4rem;
}

input{
    text-align: center;
}

.result-sub{
    visibility: hidden;
}

.popanimation{
    animation: pop-in 1s;
}

.popanimationtwo{
    animation: pop-in-two 1s;;
}

@keyframes pop-in{
    0% {font-size: 2rem;}
    50% {font-size: 6rem;}
    100% {font-size: 4rem;}
}

@keyframes pop-in-two{
    0% {font-size: 2rem;}
    50% {font-size: 6rem;}
    100% {font-size: 4rem;}
}